$text-second-color: #e8e8e8;
$text-primary-color: #131313;
$background-light-color: #ebebeb;
$background-dark-color: #e1e1e1;
$background-medium-color: #f4f4f4;
$accent-color-primary: #003471;
$accent-color-secondary: #0076a3;
