@import "colors";
@import "fonts";

body {
	color: $text-second-color;
	font-family: $font;
	font-weight: $font-light;
}

.hero_section {
	height: 100vh;
	width: 100%;
	background-image: url("../img/background.jpg");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.hero_row {
	height: 95vh;
	width: 100%;
}

.logo {
	width: 20%;
}

.hero_container {
	text-align: center;
}

.hero_title, .hero_title2 {
	color: $text-second-color;
	font-family: $font;
	font-weight: $font-light;
}

.hero_title {
	font-size: 2em;
	margin-top: 40px;
}

.hero_title2 {
	font-size: 1.6em;
	margin-top: 20px;
}

.link_below {
	background-image: url("../img/arrow.png");
	background-size: 100% 100%;
	background-position: center center;
	width: 43.5px;
	height: 32px;
	margin: 0 auto;
	position: relative;
	bottom: 20px;
}

#example-menu {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 35px;
	padding: 0;
	ul {
		background: none;
		a {
			color: $text-second-color;
			font-size: 14px;
			padding: 0.7rem 0.7rem;
		}
	}
}

#about {
	color: $text-primary-color;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: $background-light-color;
	height: auto;
}

.section_title {
	font-size: 2.5em;
	margin-bottom: 10px;
}

.paragraph {
	color: $text-primary-color;
	text-align: justify;
}

.paragraph_title {
	color: $text-primary-color;
	text-align: left;
	font-size: 16px;
	font-weight: $font-bold;
	margin-bottom: 15px;
}

.paragraph_title.last {
	text-align: center;
}
